<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title mb-0">
            <img src="https://img.icons8.com/ios/50/000000/babys-room.png" class="icon">
            <%= review.child_first_name%> <%= review.child_last_name %></h5>
        <h5 class="card-title">
            <img src="https://img.icons8.com/pastel-glyph/64/000000/ball-point-pen.png" class="icon">
            <%= review.teacher_first_name%> <%= review.teacher_last_name %></h5>
        <h6 class="card-subtitle text-muted mb-2"><%= review.date %></h6>
        <p class="card-text"> <%= review.text %></p>
    </div>
</div>